<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstonedesignandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="ASMR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DrawTestActivity"></activity>
        <activity android:name=".TimeTableCompare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirebaseTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimetableModifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuardChoiceBuildingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuardReservationCheckActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LectureroomReservationGuardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurrentManageReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurrentManageReservationChoiceBuildingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainBuildingGuardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LectureroomReservationAdditionalActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" /> <!-- firebase FCM 수신 서비스 -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/info_white_18" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".LectureroomCheckDetailedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LectureroomCheckActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".testActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUpEmailAuthActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUpLectureSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CafeMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CafeDetailedInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LectureroomReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudyBulletinBoardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MakeGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadGroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".ReadGroupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChattingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".ChattingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpAjouAuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="fa48347431d94978a0df221d44686add" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.capstonedesignandroid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>