<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstonedesignandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ASMR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CafeMapActivity"
            android:label="@string/title_activity_cafe_map"/>
        <activity
            android:name=".LectureroomReservationActivity"
            android:label="@string/title_activity_lectureroom_reservation" />
        <activity
            android:name=".StudyBulletinBoardActivity"
            android:label="@string/title_activity_study_bulletin_board" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>