<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstonedesignandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ASMR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.capstonedesignandroid.Login" />
        <activity android:name="com.example.capstonedesignandroid.MainActivity" />
        <activity android:name=".CafeMapActivity"/>
        <activity android:name=".LectureroomReservationActivity" />
        <activity android:name=".StudyBulletinBoardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.capstonedesignandroid.StudyGroupAdapter" />
        <activity android:name="com.example.capstonedesignandroid.TabFragment1" />
        <activity android:name="com.example.capstonedesignandroid.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>